/* stylesheet for Maxwell Tung's resume */

body {
	font-family: "Times New Roman";
	font-size: 12px;
}

img {
	max-height: 200px;
	max-width: 100px;
}

.header {
	text-align: center;
}

.contact-info {
	font-size: 12px;
}

.main-section {

}

.section-head {
	font-size: 14px;
	text-decoration: underline;
}

/* college */
.institution {

}

.place {
	font-weight: bold;
}


.dates {
	font-weight: bold;
	float: right;
}
 
.centered {
	text-align: center;
}